/* GLOBAL STYLES
-------------------------------------------------- */

body {
  font-family: "Source Sans Pro", "Segoe UI", roboto;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 14px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f1f1f1;
  color: #5a5a5a;
}

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #0070BA;
}
a:hover,
a:focus {
  color: #0070BA;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", "Segoe UI", roboto;
}

.input-text-hidden {
	pointer-events: none !important;
	border:none !important;
	background-color: #ccc !important;
	color: #222 !important;
}

.fa.fa-bars {
	font-size: 14px;
    color: #fff;
	border: 2px solid #ccc;
	border-radius: 13px;
	width: 65px;
	padding-top: 6px;
	height: 30px;
	
}
.well {
    padding: 12px;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(0,0,0,.05);
    border: 1px solid rgba(0,0,0,.09);
}

/* Main Nav
*/

nav#nav_header {
    margin-bottom: 15px;
    z-index: 1010;
    background-color: #0070ba;
    background-image: linear-gradient(10deg, #0070ba, #1546a0);
    background-repeat: no-repeat;
}


.navbar-fixed-top {
    min-height: 70px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 68px;
}

.navbar-brand {
	padding-top: 0px;
    padding-bottom: 0px;
    line-height: 68px;
	color:#fff;
}

.navbar-brand:hover {
	color:#fff;
	background-color:transparent;
	}
.navbar-nav>li>a {
	color:#fff;
	}

.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
	color:#fff;
	background-color: transparent;
	border-bottom: 2px solid #fff;
    height: 52px;
}

	
.navbar-nav>.active>a:hover {
	color:#fff;
	background-color: transparent;
	border-bottom: 2px solid #fff;
	}


.navbar-default .navbar-nav>.active>a {
    background-color: transparent;
	border-bottom: 2px solid #fff;
}

.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
	border-bottom: 2px solid #fff;
}

.navbar-fixed-top {
    min-height: 70px;
}

.navbar-nav-settings {
    color: #fff;
	font-size: 17px;
    line-height: 68px;
	border-bottom: none !important;
}

.navbar-nav-settings:hover {
    color: #fff;
    line-height: 68px;
	border-bottom: none !important;
}

.navbar-nav-settings:focus {
    color: #fff;
    line-height: 68px;
	border-bottom: none !important;
}



/* Other */
a.request_summary {
  color: #9DA3A6;
}

.intl-tel-input {width: 100%;}

/* Transaction Details */
.panel-group .panel-transaction {
		border-radius: 0px;
		border-color: #EEEEEE;
        padding:0;
	}

	.panel-default > .panel-head-transaction {
		color: #9DA3A6;
		background-color: #F5F7FA;
		border-color: #F5F7FA;
	}
	
	.panel-default > .panel-head-transaction:hover{
		background-color:#F5F7FA;
		border-left: solid 4px #009CDE;
	}

	.panel-refund-button {
		font-weight: 500;
		font-size: 14px;
		color: #0070BA;
		cursor: pointer;
		background-color: #fff;
		text-decoration: none;
		border: 1px solid #5BC0DE;
		border-radius: 25px;
		width: 100%;
		height: 38px;
		text-align: center;
		margin-left: -10px;
		outline-style: none;
		margin-top: 15px;
	}

	.panel-refund-button:hover {
		color: #0B5AAD;
		font-weight: 500;
		border: 2px solid #0B5AAD;
	}

	.panel-title-transaction {
		font-size: 14px;
		display: block;
		padding: 8px;
		font-weight: normal;
		cursor: pointer;
		
	}

	.panel-head-transaction {
		color: #2C2E2F;
	}
	
	.panel-head-transaction a{
		color: #0070BA;
		font-weight: 600;
	}
	
	.fa-yellow {
		color: #FF9600;
	}
	
	.fa-gray {
		color: gray;
	}
	
	.fa-blue {
		color: #0070BA;
	}
	
	.fa-red {
		color: red;
	}
	
	.fa-green {
		color: #17D39B;
	}
	
	.panel-head-name {
		font-weight: 400;
		font-size: 15px;
	}
	
	.details-right {
		float: right;
		color: #222;
	}

	.details-rightfloat {
		float: right;
		margin-left: 165px;
	}
	
	.details-block {
		font-weight: bold;
		display: block;
	}
	.pointeritem > a {
		cursor: pointer;
		text-decoration: none;
		
	}
	
	.icon-ccc {
		color: #ccc;
	}
	
	.panel-default > .panel-heading + .panel-collapse > .panel-body {
		border: solid 1px #EEEEEE;
        background-color: #fff;
		border-left: solid 4px #50C7F9;
        
	}
	
	.payment-space-tabs {
		padding-left: 52px;
        
	}
	
	.payment-span-space-tabs {
		 text-transform: uppercase;
		 padding-right: 7px;
        
	}
	
	.payment-right-amount-negative {
		 color: #222;
		 font-weight: 500;
        
	}
	
	.payment-right-amount-positive {
		 color: #0070BA;
		 font-weight: bold;
        
	}
	
	.payment-right-amount-positive-cancel {
		 color: #0070BA;
		 font-weight: bold;
		 text-decoration: line-through;
        
	}
	
	.well-margin-link-header {
		 margin-left: 2px;
		 margin: 5px;
        
	}
	
	.transaction-down-link {
		font-weight: bold;
		padding-top: 15px;
        
	}


/* Siderbar
*******/

.add-bank-card-button {
		font-weight: 500;
		font-size: 14px;
		color: #0B5AAD;
		cursor: pointer;
		background-color: #fff;
		text-decoration: none;
		border: 2px solid #5BC0DE;
		border-radius: 25px;
		width: auto;
		height: 35px;
		text-align: center;
		outline-style: none;
	}

	.add-bank-card-button:hover {
		color: #0B5AAD;
		font-weight: 500;
		border: 2px solid #0B5AAD;
	}

/* Line Divider
------------------------- */

.line-divider {
  margin: 5rem 0;
}

/* Signup & Signin
------------------------- */
.box-signup-choose {
    padding: 15px;
    margin-bottom: 20px;
	margin: 0 auto;
	max-width: 450px;
}

.box-signin-choose {
    padding: 15px;
    margin-bottom: 20px;
	margin: 0 auto;
	max-width: 450px;
	
}

.box-top-space {
	padding-top: 90px;

}

hr.love {
	border-top: 4px double #8c8b8b;
	text-align: center;
}
hr.love:after {
	content: 'or';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #f1f1f1; /* #f0f0f0 */
	color: #8c8b8b;
	font-size: 15px; /* 18px */
}
.resetps {
  width:100%;
  display:block;
  margin: 9px 0;
  text-align: center;
  
}

/* My account (Personal account)
*********************/
.head-padding-top {
	padding-top: 60px;
}
.home-cover-avatar {
	padding-top: 60px;
	height: 260px;
	margin-bottom: 30px;
	margin-top: -30px;
	border-width: 2px;
   border-bottom-width:2px;
   border-bottom-color: #D1D1D1;
   border-bottom-style: solid;
}

.image-cover-avatar {
	padding-top: 20px;
	padding: 20px;
	margin-top: 29px;
}

.colmd-2-covar-avatar {
	padding-top: 20px;
	padding: 15px;
}

.colmd-2-covar-avatar h4{
	font-weight: 300;
	font-size: 25px;
	color: #222;
	margin-left: -10px;
}

.colmd-2-covar-avatar-button {
	font-weight: 495;
	font-size: 14px;
    color: #0B5AAD;
	cursor: pointer;
	background-color: #fff;
	text-decoration: none;
	border: 2px solid #5BC0DE;
	border-radius: 25px;
	width: 218px;
	height: 38px;
	margin-left: -10px;
	outline-style: none;
}

.colmd-2-covar-avatar-button:hover {
	color: #0070BA;
	font-weight: 500;
}

.colmd-2-right-covar-avatar {
    font-weight: 300;
    color: #0070BA;
	background-color: #fff;
	border-radius: 50%;
	padding: 24px;
	padding-top: 25px;
	padding-left: 22px;
	border: 1px solid #0070BA;
	width: 80px;
	height: 80px;
	text-align: center;
	margin-left: 120px;
	
}

.colmd-2-right-covar-avatar:hover {
	background-color: #0070BA;
	color: #fff;
}
.colmd-2-right-covar-avatar-p {
	font-weight: 400;
    color: #0070BA;
	padding-top: 6px;
	padding: 10px;
	margin-left: 70px;
}

.home-most-out-hidden {
    background-color: #fff;
	height: 350px;
	margin-bottom: 30px;
	margin-top: -31px;
	
}

.home-most-out-hidden-down {
	padding-top: 50px;
	
}

.home-most-out-hidden-down-close-x {
	font-family: Arial;
	font-weight: 300;
	font-size: 25px;
	color: #ccc;
	padding-top: 10px;
	margin-right: -162px;
	cursor: pointer;
}

.home-most-out-hidden h1{
	text-align: center;
	font-weight: 300;
	font-size: 30px;
	margin-bottom: 50px;
}

.home-most-out-hidden-p {
	font-weight: 400;
    color: #0070BA;
	padding-top: 6px;
	padding: 10px;
	margin-left: 68px;
	text-align: center;
	 display: inline-block;
	width: 175px;
	margin-bottom: 40px;
}

.home-most-out-hidden-inline {
	display: inline-block;
	text-align: center;
	margin: 15px;
	margin-left: -15px;
}


.home-most-out-hidden-round-icon {
    font-weight: 300;
    color: #0070BA;
	background-color: #fff;
	border-radius: 50%;
	padding: 20px;
	padding-top: 20px;
	padding-left: 19px;
	border: 1px solid #0070BA;
	width: 70px;
	height: 70px;
	margin-left: 120px;
	
}


.home-most-out-hidden-p-error {
	font-weight: 400;
    color: red;
	padding-top: 6px;
	padding: 10px;
	margin-left: 68px;
	text-align: center;
	 display: inline-block;
	overflow: hidden;
	width: 175px;
}

.home-most-out-hidden-round-icon-error {
    font-weight: 300;
    color: red;
	background-color: #fff;
	border-radius: 50%;
	padding: 20px;
	padding-top: 20px;
	padding-left: 19px;
	border: 1px solid red;
	width: 70px;
	height: 70px;
	margin-left: 120px;
	
}

.home-most-out-hidden-round-icon-error:hover {
	background-color: #fff;
	color: #ccc;
	border: 1px solid #ccc;
}

.wallet-box {
	font-weight: 400;
	background-color: #EEEEEE;
	color: #9E9B99;
	border: 2px solid #EEEEEE;
	border-radius: 15px;
	text-align: center;
	width: 160px;
	height: 120px;
	margin: 7px;
	display: inline-block;
	overflow: hidden;
}

.wallet-box-card {
	font-weight: 400;
	background-color: #616161;
    background-image: linear-gradient(10deg, #616161, #5A5B5D, #888888);
    background-repeat: no-repeat;
	color: #9E9B99;
	border: 2px solid #EEEEEE;
	border-radius: 15px;
	text-align: center;
	width: 180px;
	height: 120px;
	margin: 7px;
	display: inline-block;
	overflow: hidden;
}

.wallet-box-button {
	color: #fff;
	background-color: #9E9B99;
	border-radius: 25px;
	border: 2px solid #9E9B99;
	outline-style: none;
	margin-top: 10px;
	width: 24px;
	height: 24px;
}

.wallet-box-button i{
	margin-left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	text-align: center;
}


.wallet-box-card p{
	color: #9E9B99;
	font-weight: bold;
}


.wallet-box-margin {
	padding-top: 25px;
}

.modal-content  {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px; 
}

.modal-content  h3{
    font-weight: 400;
}

.modal-save-button-small {
	font-weight: 495;
	font-size: 14px;
    color: #fff;
	cursor: pointer;
	background-color: #0B5AAD;
	text-decoration: none;
	border: 2px solid #0B5AAD;
	border-radius: 25px;
	width: 100px;
	height: 40px;
	outline-style: none;
}

.modal-save-button-small:hover {
	background-color: #004497;
	border: 2px solid #004497;
}

.modal-save-button-big {
	font-weight: 495;
	font-size: 14px;
    color: #fff;
	cursor: pointer;
	background-color: #0B5AAD;
	text-decoration: none;
	border: 2px solid #0B5AAD;
	border-radius: 25px;
	width: 100%;
	height: 40px;
	outline-style: none;
}

.modal-save-button-big:hover {
	background-color: #004497;
	border: 2px solid #004497;
}

.modal-update-button-big {
	font-weight: 600;
	font-size: 14px;
    color: #fff;
	cursor: pointer;
	background-color: #0B5AAD;
	text-decoration: none;
	border: 2px solid #0B5AAD;
	border-radius: 25px;
	width: 100%;
	height: 45px;
	outline-style: none;
}

.modal-update-button-big:hover {
	background-color: #004497;
	border: 2px solid #004497;
}

.activity-search-box-padding {
	padding-top: 20px;
}

.activity-search-icon {
	color: #0B5AAD;
}

.activity-search-btn {
	border: 1px solid #0B5AAD;
}

.activity-search-input {
	border: 1px solid #0B5AAD;
	height: 20px;
	
}

.activity-inputend-icon {
	color: #0B5AAD;
	margin-left: -35px;
}

.activity-date-start-addon {
	border: 1px solid #0B5AAD;
	color: #0B5AAD;
	background-color: #fff;
	border-right: none;
}

.activity-date-end-addon {
	border: 1px solid #0B5AAD;
	color: #0B5AAD;
	background-color: #fff;
}

.activity-date-start-search-input {
	border: 1px solid #0B5AAD;
	border-right: none;
	
	
}

.activity-date-end-search-input {
	border: 1px solid #0B5AAD;
	border-right: none;
	
	
}

.activity-date-start-search-input {
	border: 1px solid #0B5AAD;
	border-right: none;
	
	
}

.settings-nav {
	z-index: 1010;
    background-color: #0070ba;
    background-image: linear-gradient(10deg, #0070ba, #1546a0);
    background-repeat: no-repeat;
	width: 100%;
	margin-bottom: 15px;
	border-top: solid 1px #009CDE;
	margin-top: 40px;
	font-weight: 400;
	font-size: 13px;
	padding-left: 35px;
	
	
}

.settings-nav li{
	line-height: 40px;
	display: inline-block;
	
	
}

.settings-nav li > a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	
	
}

.settings-nav li:hover > a{
	background-color: #009CDE;
	
}

.settings-nav li > a:focus, .settings-nav li > a:active {
	background-color: #009CDE;
	
}

.settings-account-well {
	height: 190px;
	
}

.settings-account-img {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	
}

.settings-account-joined {
	border-bottom: solid 1px #ccc;
	padding-top: 10px;
	
}

.fa-verified {
		color: #0070ba;
	}

.settings-account-upload-choose {
	margin-top: 20px;
	min-height: 60px;
}

.settings-account-upload-choose h4 {
	text-align: center;
}

.settings-account-upload-btn {
	text-align: center;
	cursor: pointer;
}

.settings-account-upload-form-input{
	position:absolute;
	top:0px;
	z-index: 999;
	opacity: 0;
}

.settings-account-nav > li{
	font-weight: 600;
	border-bottom: 1px solid #ccc;
	line-height: 40px;
}

.settings-account-nav p{
	font-weight: 400;
	color: #222;
	display: inline-block;
	padding-left: 70px;
}

.settings-account-nav-p-padding {
	margin-left: 10px !important;
}

.settings-account-nav-edit {
	margin-left: 40px;
	cursor: pointer;
}

.settings-account-address-fa-plus {
	font-weight: 400;
	cursor: pointer;
	font-size: 14px;
}

.settings-account-address {
	font-weight: 400;
	cursor: pointer;
	font-size: 14px;
	margin-left: -10px;
}

.settings-account-address:hover, .settings-account-address:focus {
	background-color: transparent !important;
}

.settings-security {
	margin-bottom: 15px;
	font-weight: 400;
	font-size: 13px;
	padding-left: 35px;
	
}

.settings-security a{
	color: #5a5a5a;
	text-decoration: none;
	outline: 0;
	border: none;
	moz-outline-style: none;
	
}

.settings-security h4{
	font-weight: 400;
	font-size: 18px;
	
}

.settings-security p{
	padding-bottom: 20px;
	border-bottom: solid 1px #ccc;
	
}

.settings-payments {
	margin-bottom: 15px;
	font-weight: 400;
	font-size: 13px;
	padding-left: 35px;
}

.settings-payments h4{
	font-weight: 400;
	font-size: 20px;
	text-align: center;
	
}

.settings-payments p{
	font-size: 13px;
	padding-bottom: 20px;
	border-bottom: solid 1px #ccc;
	text-align: center;
	
}

.settings-payments h5{
	font-weight: 500;
	font-size: 16px;
	text-align: left;
	
}

.settings-payments-instore a{
	font-weight: 500;
	font-size: 14px;
	text-decoration: none;
	
}

.transfer-box-select {
	padding: 9px;
    background-color: #0070BA;
    border-radius: 5px;
	color: #fff;
}

.transfer-box-select a{
	text-decoration: none;
	
}


.transfer-box-link {
    background-color: #fff;
    height: 65px;
	border: 2px solid #ccc;
	border-radius: 4px;
	color: #0070BA;
	cursor: pointer;
	text-decoration: none;
	
}

.transfer-box-link:hover{
    background-color: #ccc;
	
}

.transfer-icon-round {
    background-color: #fff;
	border-radius: 50%;
	border: 1px solid #0070BA;
	width: 46px;
	height: 46px;
	text-align: center;
	color: #0070BA;
	padding: 15px;
	padding-right: 0px;
	padding-left: 1px;
	margin: 7px 9px 9px 12px;
	
}

.transfer-icon-round:hover{
    background-color: #0070BA;
	color: #fff;
	
}

.transfer-box-space {
	padding-top: 6px;
}

.transfer-box-lock {
	font-size: 13px;
	padding-top: -6px;
    height: 46px;
	color: #fff;
	
}

.transfer-box-lock a{
	
	font-weight: 500;
	color: #fff;
	text-decoration: underline;
	
}

.transfer-box-lock-icon-round {
	text-align: center;
	padding-right: 0px;
	padding-left: 1px;
	margin: 0px 9px 9px 8px;
	
}

.transfer-box-lock-text-top {
	margin-right: 5px;
	margin: -40px 0px 0px 40px;
	
}

.transfer-box-request {
    background-color: #fff;
    height: 95px;
	border: 2px solid #ccc;
	border-radius: 4px;
	color: #0070BA;
	
}


.transfer-box-request a{
	text-decoration: none;
	
}

.transfer-box-request-space {
	padding-top: 40px;
}

.transfer-box-request-text-notice {
	font-size: 12px;
	color: #222;
	margin: -10px 0px 0px 70px;
}

.send-well h4{
	font-weight: 200;
	font-size: 32px;
	text-align: center;
	color: #222;
	
	
}

.send-well p{
	font-weight: normal;
	font-size: 14px;
	padding-top: 20px;
	text-align: center;
	color: #222;
	
	
}

.send-well a{
	color: #0070BA;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	
	
}

.send-next-input {
	height: 48px;
	border: 2px solid #ccc;
	border-radius: 4px;
}

.send-next-button {
	font-weight: 600;
	font-size: 14px;
    color: #fff;
	cursor: pointer;
	background-color: #0B5AAD;
	text-decoration: none;
	border: 2px solid #0B5AAD;
	border-radius: 25px;
	width: 170px;
	height: 51px;
	margin-left: -24px;
	outline-style: none;
	cursor: pointer;
}

.send-next-button:hover {
    color: #fff;
	background-color: #004497;
	border: 2px solid #004497;
}
.padding-page-bottom {
	padding-top: 150px;
}

input.error{
	border:1px solid #FF0000 !important;
	}


.send-payment-well {
	padding: 35px;
	margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(0,0,0,.05);
    border: 1px solid rgba(0,0,0,.09);
}

.send-payment-well-card {
	color: #0B5AAD;
	text-align: center;
	margin-bottom: 10px;
}
	
.send-payment-image-round {
  padding-top: 25px;
  text-align: center;
}

.send-payment-image-round p{
  padding-top: 15px;
  font-weight: 600;
  font-size: 15px;
}

.send-payment-currency {
  padding-top: 25px;
  text-align: center;
}

.send-payment-currency p{
  margin-top: -8px;
}

textarea {
    text-align: center;
	
}

.send-payment-end-button {
	text-align: center;
}

.send-payment-end-button a{
	font-weight: bold;
}

.send-payment-button {
	font-weight: 600;
	font-size: 14px;
    color: #fff;
	cursor: pointer;
	background-color: #0B5AAD;
	text-decoration: none;
	border: 2px solid #0B5AAD;
	border-radius: 25px;
	width: 170px;
	height: 51px;
	margin-left: -24px;
	outline-style: none;
	cursor: pointer;
	margin-top: 13px;
}

.send-payment-button:hover {
	background-color: #004497;
}

.cancel-payment-button {
	color: #0B5AAD;
	text-align: center;
	margin-left: -7px;
	margin-top: 13px;
}

.request-payment-well {
	padding: 35px;
	margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(0,0,0,.05);
    border: 1px solid rgba(0,0,0,.09);
}

.request-payment-well-card {
	color: #0B5AAD;
	text-align: center;
	margin-bottom: 10px;
}
	
.request-payment-image-round {
  padding-top: 25px;
  text-align: center;
}

.request-payment-image-round p{
  padding-top: 15px;
  font-weight: 600;
  font-size: 15px;
}


.request-payment-end-button {
	text-align: center;
}

.request-payment-end-button a{
	font-weight: bold;
}

.request-payment-button {
	font-weight: 600;
	font-size: 14px;
    color: #fff;
	cursor: pointer;
	background-color: #0B5AAD;
	text-decoration: none;
	border: 2px solid #0B5AAD;
	border-radius: 25px;
	width: 170px;
	height: 51px;
	margin-left: -24px;
	outline-style: none;
	cursor: pointer;
	margin-top: 13px;
}


.request-payment-button:hover {
	background-color: #004497;
}

.transfer-payment-return-button {
	font-weight: bold;
	padding-top: 7px;
	margin: 10px 0 0 -35px;
}

.transfer-payment-return-center {
	text-align: center;
}

.transfer-payment-another-button {
	font-weight: 600;
	font-size: 14px;
    color: #fff;
	cursor: pointer;
	background-color: #0B5AAD;
	text-decoration: none;
	border: 2px solid #0B5AAD;
	border-radius: 25px;
	width: 50%;
	height: 51px;
	margin-left: -24px;
	outline-style: none;
	cursor: pointer;
	margin-top: 13px;
}


.transfer-payment-another-button:hover {
	background-color: #004497;
}

.fund-payment-method-well {
	padding-top: 10px;
}
.fund-payment-method {
	font-weight: 400;
	background-color: #fff;
	border: 2px solid #ccc;
	border-radius: 5px;
	text-align: center;
	width: 135px;
	height: 90px;
	margin: 7px;
	display: inline-block;
	overflow: hidden;
	cursor: pointer;
}

.fund-payment-method:hover {
	color: #fff;
	border: 2px solid #0070ba;
	background-color: #0070BA;
}

.fund-payment-method a:hover {
	color: #fff;
	text-decoration: none;
}

.fund-payment-method p{
	color: #5BC0DE;
	font-weight: 600;
}


.fund-payment-box-margin {
	padding-top: 5px;
}

.fund-payment-card {
	padding-top: 10px;
}

.fund-payment-padding {
	padding-top: 10px;
}

.fund-payment-button-submit {
	font-weight: 495;
	font-size: 14px;
    color: #222;
	cursor: pointer;
	background-color: #fff;
	text-decoration: none;
	border: 2px solid #ccc;
	border-radius: 5px;
	width: 100%;
	height: 40px;
	outline-style: none;
}

.fund-payment-button-submit:hover {
	color: #0070BA;
	font-weight: 500;
	border: 2px solid #5BC0DE;
}

.payment-icon-method {
	font-weight: 400;
	border: 2px solid #ccc;
	border-radius: 5px;
	text-align: center;
	margin: 7px;
	display: inline-block;
	overflow: hidden;
	cursor: pointer;
}

.payment-icon-method:hover {
	color: #fff;
	border: 2px solid #333;
	background-color: #333;
}


.payment-icon-box-margin {
	padding-top: 5px;
}

.payment-icon-padding {
	padding-top: 10px;
}

.local-accept {
	color: #fff;
	background-color: #008751;
	border: 2px solid #339F74;	
	width: 180px;
	height: 90px;
}

.local-accept a{
	color: #fff;
	text-decoration: none;	
}

.int-bank-accept {
	color: #3468CD;
	background-color: #fff;
	border: 2px solid #3468CD;	
	width: 180px;
	height: 90px;
}

.int-bank-accept a{
	color: #3468CD;
	text-decoration: none;	
}

/* Payment select
*/
.fund-payment-select label {
    /*min-width: 400px;*/
    width: 100%;
    font-weight: normal;
}
.fund-payment-select input[type="radio"]:empty, .fund-payment-select input[type="checkbox"]:empty {
    display: none;
}
.fund-payment-select input[type="radio"]:empty ~ label, .fund-payment-select input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 4px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.fund-payment-select input[type="radio"]:empty ~ label:before, .fund-payment-select input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content:'';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}
.fund-payment-select input[type="radio"]:hover:not(:checked) ~ label:before, .fund-payment-select input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

.fund-payment-select input[type="radio"]:hover:not(:checked) ~ label, .fund-payment-select input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}

.fund-payment-select input[type="radio"]:checked ~ label:before, .fund-payment-select input[type="checkbox"]:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}

.fund-payment-select input[type="radio"]:checked ~ label, .fund-payment-select input[type="checkbox"]:checked ~ label {
    color: #777;
}

.fund-payment-select input[type="radio"]:focus ~ label:before, .fund-payment-select input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}

.fund-payment-select-primary input[type="radio"]:checked ~ label:before, .fund-payment-select-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
}

.fund-paymet-mobile {
	text-align: center;
}

.fund-paymet-mobile h3{
	font-weight: 300;
}

.fund-paymet-mobile h4{
	font-weight: 400;
}

.fund-paymet-mobile p{
	padding-bottom: 20px;
}


/* Admin
------------------------- */

.panel-accept-button {
		font-weight: 500;
		font-size: 14px;
		color: #0B5AAD;
		cursor: pointer;
		background-color: #fff;
		text-decoration: none;
		border: 2px solid #0B5AAD;
		border-radius: 25px;
		width: 100%;
		height: 38px;
		text-align: center;
		margin-left: -10px;
		outline-style: none;
		margin-top: 15px;
	}

	.panel-accept-button:hover {
		color: #5BC0DE;
		font-weight: 500;
		border: 2px solid #5BC0DE;
	}
	
.panel-cancel-button {
		font-weight: 500;
		font-size: 14px;
		color: #0070BA;
		cursor: pointer;
		background-color: #fff;
		text-decoration: none;
		border: 1px solid #5BC0DE;
		border-radius: 25px;
		width: 100%;
		height: 38px;
		text-align: center;
		margin-left: -10px;
		outline-style: none;
		margin-top: 15px;
	}

	.panel-cancel-button:hover {
		color: #0B5AAD;
		font-weight: 500;
		border: 2px solid #0B5AAD;
	}
	

/* Checkbox slider
*************/

.checkbox {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.checkbox input {display:none;}

.checkbox-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.checkbox-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .checkbox-slider {
  background-color: #2196F3;
}

input:focus + .checkbox-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .checkbox-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded checkbox-sliders */
.checkbox-slider.round {
  border-radius: 34px;
}

.checkbox-slider.round:before {
  border-radius: 50%;
}

.dispute-well a{
	color: #5a5a5a;
	text-decoration: none;

  }

.dispute-button {
	display: inline-block;
	margin-left: 5px;
	color: #0070BA;
	font-weight: 500;
	background-color: #fff;
	border-radius: 20px;
	border: 2px solid #0070BA;
	outline-style: none;

  }
  
.dispute-button:hover {
	display: inline-block;
	margin-left: 5px;
	color: #fff;
	font-weight: 500;
	background-color: #0070BA;
	border-radius: 20px;
	border: 2px solid #0070BA;
	outline-style: none;

  }
  
.dispute-button-claim {
	display: inline-block;
	margin-left: 5px;
	color: #0070BA;
	background-color: #fff;
	border-radius: 20px;
	border: 2px solid #0070BA;
	outline-style: none;

  }
  
.dispute-button-claim:hover {
	color: #fff;
	background-color: #0070BA;
	border-radius: 20px;
	border: 2px solid #0070BA;
	outline-style: none;

  }
  
.dispute-sidebar h4{
	font-size: 16px;
	font-weight: 400;
	color: red;

  }
  
.dispute-sidebar a{
	font-weight: 400;

  }
  
  /* Loader style */
  .signal-loading {
	display: none;
    border: 8px solid #0070ba;
    border-radius: 30px;
    height: 60px;
	width: 60px;
    opacity: 0;
	text-align: center;
	margin-top: 20px;
	margin-left: 40%;
	transform: translateX(-40%);
	-ms-transform: translateX(-40%);
 
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}

@keyframes pulsate {
    0% {
      transform: scale(.1);
      opacity: 0.0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
}
  
/* Footer
------------------------- */

.footer {
  margin: 0 auto;
  min-width: 100%;
  max-width: 100%;
}


.top-navft {
  border-bottom: 1px dotted #767676;
  padding: 10px 0px;
  overflow: hidden;
  font-size: 12px;
  font-weight: 700;
}
.top-navft .top-left-navft span {
  float: left;
  padding-right: 20px;
}
.top-navft .top-left-navft a {
  color: #767676;
}
.top-navft .top-left-navft li {
  float: left;
  list-style-type: none;
  padding-right: 20px;
}
.top-navft .country {
  float: right;
  overflow: hidden;
  width: 32px;
  height: 24px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  text-indent: -999em;
  text-align: left;
  background: url(../images/flag/language.png) 5px 100px no-repeat;
  background-position: 5px -383px;
}

.btm-navft {
  padding: 20px 0px;
  overflow: hidden;
  color: #767676;
  font-size: 12px;
}
.btm-navft .btm-left-navft {
  float: left;
}
.btm-navft .btm-left-navft li {
  display: inline-block;
  padding-right: 20px;
}
.btm-navft .btm-right-navft {
  float: right;
}
.btm-navft .btm-right-navft li {
  display: inline-block;
  padding-left: 20px;
}
.btm-navft a {
  color: #767676;
}


/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 760px) {
	.navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
	}	

.head-padding-top {
	padding-top: 60px;
}

.visible {
    display: none;
}
.visible-top {
	padding-top: 60px;
}

.padding-page-bottom {
	padding-top: 15px;
}

.send-next-button {
	width: 70px;
}

.settings-nav {
	padding-left: 0;
	
	
}

.settings-account-well {
	height: auto;
	
}

.visible-mobile {
	display: none;
	
	
}

.settings-payments {
	padding-left: 0;
}


.line-divider {
	display: none;

  }
	

}


@media (min-width: 40em) {
   .footer {
    width: auto;
    float: none;
  }
}
